html, body, .bg-street-lights {
  height: 100%;
}

body {
  background-image: url('http://7-themes.com/data_images/out/60/6975828-city-night-street-lights.jpg');
  background-size: cover;
}

.card {
  background-color: #fafafa;
  /*background-color: rgba( 255, 255, 255, 0.9 );*/
  border: 0;
}

.card-inverse {
  background-color: #010530;
  background-color: rgba( 1, 5, 48, 0.5 );
  border-color: #333;
}

.card-inverse > .card-text {
  color: #fafafa;
}
