<div class="row">
  <div class="col-sm-3">
    <div class="card card-block card-inverse text-center">
      <img src="/images/20140225_202136.jpg" alt="Nathaniel Bockoven" class="img-circle img-responsive">
      <h1 class="card-title">Nathaniel Bockoven</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div><!-- .col-sm-3 -->
  <div class="col-sm-9">
    <div class="card card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div><!-- .col-sm-9 -->
</div><!-- .row -->
